<!-- detalleBanda → Deberás utilizar esta vista para mostrar el detalle de una banda.
Debes mostrar todos los datos de la banda (nombre, género, cantidad de integrantes, imagen, sus mejores canciones, etc).
Al hacer click en el género de una banda debe redirigir al listado de bandas que pertenezcan a ese género.
Validar que si el id de la banda que está en la URL no existe se muestre un mensaje ilustrativo -->

    


<%- include('./partials/head') %>

    <body>
        <h1>Detalles de la banda </h1>
        <ul>
            <% for( let i = 0; i < index.length; i++ ) { %>
                <li>Nombre: <%= index[i].nombre %></li>
                <li>Integrantes: <%= index[i].integrantes %></li>
                <li><a href="/bandas/porGenero/<%= index[i].genero %>">Genero:<%= index[i].genero %></a></li>
                <li>topCanciones: <%= index[i].topCanciones %></li>
                <li>Cover: <img src="/<%= index[i].cover %>" alt="<%= index[i].nombre %>"></li>
                <li>Video: <iframe width="560" height="315" src="<%= index[i].video %>" frameborder="0" allowfullscreen></iframe></li>

               <% } %>
        </ul>
        <%- include('./partials/footer') %>
    </body>

